/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/
*{
  box-sizing:border-box;
}
body{
  margin : 0;
  padding: 0;
  font-family: sans-serif;
  /* background: black; */
  color: palegreen;
  
}
.text-center{
  text-align:center;
  text-decoration: underline;
  color:palegreen;
  font-size: 25px;
  font-style:inherit ;
  margin-top: 60px;
  padding: 20px;
}
.container{
  width:80%;
  margin: 10% auto;
  color: green;
  background-color: olivedrab;
  height:400px;

}
.ListItems {
  
  color: green;

}
.ListItems p{
  margin: 0;
  text-align: center;
  padding: 20px 0px;
  
}
.ListItems span{
  display:inline-block;
  text-align: center;
  padding: 10px 0;
  font-size: 13px;
  border: 0.3px solid black;
}
.ListItems span.title{
  background: white;
  color:green;
  font-weight: bold;
  text-decoration: underline;
}
.list-item{
  background: palevioletred;
  color:black;


  
}
.ListItems span.description,
form input[type=text]{
  width:20%;
  
}
.ListItems span.when,
form input[type=text]{
  width:30%
}
.ListItems span.action,
form input[type=submit]{
  width:10%
}
.ListItems span.icon{
  background: white;
  color: red;
  cursor: pointer;
}
.ListItems .completed{
  text-decoration: line-through;
}
form input{
  padding: 10px;
  background: white;
  border: transparent;
  border: 0.3px solid #ccc;
}
for input[type=submit]{
  background: #2ebaee;
  border: 0.3px solid #2ebaee;
  color: #fff;
  cursor: pointer;
}
.timer-text{
  color:lightpink;
  font-size: 14px;
}

